<nav
  class="navbar navbar-expand-lg navbar-light bg-light sticky-top container-fluid nav-custom-bb justify-content-center p-0">
  <header class="row justify-content-center" style="width: 100vw;">
    <div class="navbar-brand mr-0 col-8 col-md-5 col-lg-2 col-xl-3 order-2 order-lg-1 px-0" [routerLink]="['/']"
      (click)="collapse()" (keypress)="collapse()">
      <div class="row justify-content-center">
        <div class="col-2 col-md-3 col-lg-3 px-0 my-auto">
          <img class="mx-auto d-none d-md-block" height="96px" width="90px" src="https://lh3.googleusercontent.com/d/1iaD_ChwN64keKq7BXlY9mJtGqxUeMuYx?authuser=0" alt="ipn">
          <img class="mx-auto d-md-none d-block" height="56px" width="52px" src="https://lh3.googleusercontent.com/d/1iaD_ChwN64keKq7BXlY9mJtGqxUeMuYx?authuser=0" alt="ipn">
        </div>
        <div class="col-8 col-md-7 col-xl-9 d-lg-none d-xl-block my-auto font-weight-bold text-wrap px-auto"
          [routerLink]="['/']" (click)="collapse()" onkeypress="collapse()">
          <span class="h3 font-weight-bold mb-0" translate>app.firstTitle</span><br />
          <span class="h3 font-weight-bold mb-0 text-tertiary" translate>app.secondTitle</span>
        </div>
      </div>
    </div>
    <div class="col-2 d-lg-none my-auto order-1 order-lg-4 pe-0">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <button class="navbar-toggler border border-0" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 col-xl-5 my-auto order-4 order-lg-2 collapse navbar-collapse justify-content-center px-lg-0"
      id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav-scroll text-wrap" style="font-size: large;">
        <li [classList]="currentLink != '/' ? 'nav-item' : 'nav-item dropdown'">
          <a [classList]="currentLink != '/' ? 'nav-link font-weight-bold h4': 'nav-link dropdown-toggle font-weight-bold h4'"
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            [routerLink]="currentLink != '/' ? ['/']: null" translate>app.home</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item font-weight-bold h5" *ngFor="let item of navs" (click)="goToId(item.link)"
              translate>{{'home.'.concat(item.title).concat('.title')}}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold h4" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate>app.units</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()">
            <a class="dropdown-item font-weight-bold h5 text-truncate" style="max-width: 90vw;"
              *ngFor="let item of unidades" [routerLink]="['unidades',item.indice]" translate
              [translateParams]="{index: item.indice}">{{'unit.'.concat(item.indice)}}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold h4" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" translate>app.moreInfo</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()" (keypress)="collapse()">
            <a class="dropdown-item font-weight-bold h5" data-toggle="modal" [attr.data-target]="'#biblio'" translate><i
                class="bi bi-card-text"></i>&nbsp; app.sources</a>
            <a class="dropdown-item font-weight-bold h5" data-toggle="modal" [attr.data-target]="'#glosario'"
              translate><i class="bi bi-journal-text"></i>&nbsp; app.glossary</a>
            <a class="dropdown-item font-weight-bold h5" data-toggle="modal" [attr.data-target]="'#usermanual'"
              translate><i class="bi bi-question-circle"></i>&nbsp; app.userManual</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold h4" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" translate><i class="bi bi-globe"></i>&nbsp; app.lang
          </a>
          <div class="dropdown-menu mb-2" aria-labelledby="navbarDropdown" (click)="collapse()" onkeypress="collapse()">
            <button [value]="'es'" [(ngModel)]="lang" (click)="setLang($event)"
              [classList]="lang === 'es' ? 'dropdown-item font-weight-bold h5 text-dark':'dropdown-item font-weight-bold h5 text-muted'"
              translate>app.es</button>
            <button [value]="'en'" [(ngModel)]="lang" (click)="setLang($event)"
              [classList]="lang === 'en' ? 'dropdown-item font-weight-bold h5 text-dark':'dropdown-item font-weight-bold h5 text-muted'"
              translate>app.en</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="navbar-brand mr-0 col-2 col-md-5 col-lg-2 col-xl-3 my-auto order-3" [routerLink]="['/']"
      (click)="collapse()" onkeypress="collapse()">
      <div class="row justify-content-center">
        <div class="col-6 text-tertiary text-right text-nowrap font-weight-bold d-none d-md-block d-lg-none d-xl-block">
          <h4 class="mb-0">Escuela</h4>
          <h4 class="mb-0 text-dark">Superior de</h4>
          <h4 class="mb-0">Cómputo</h4>
        </div>
        <div class="col-12 col-md-6 col-lg-12 col-xl-6 px-0">
          <img class="mx-auto d-none d-md-block" height="96px" width="126px" src="https://lh3.googleusercontent.com/d/1o5jcXGv9Qp5mRbXjiEA6QsQ1bEnPXILJ?authuser=0" alt="escom">
          <img class="mx-auto d-md-none" height="56px" width="73px" src="https://lh3.googleusercontent.com/d/1o5jcXGv9Qp5mRbXjiEA6QsQ1bEnPXILJ?authuser=0" alt="escom">
        </div>
      </div>
    </div>
  </header>
</nav>
<section class="modal fade" id="biblio">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title w-100" translate>app.sources</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <ul>
            <li>Brown T. IDEO. Design Thinking for Educators. (Recuperado en 2021). Curso de administración de empresas.
              <a style='color: blue;' target='_blank'
                href='https://www.ideo.com/post/design-thinking-for-educators'>https://www.ideo.com/post/design-thinking-for-educators</a>
            </li>
            <li>The Bussines Model Canvas. (Recuperado en 2016). Curso de administración de empresas. <a
                style='color: blue;' target='_blank'
                href='http://www.businessmodelgeneration.com/'>http://www.businessmodelgeneration.com/</a>
            </li>
            <li>The Bussines Model Canvas. (Recuperado en 2021). Curso de administración de empresas. <a
                style='color: blue;' target='_blank'
                href='http://www.businessmodelgeneration.com/'>http://www.businessmodelgeneration.com/</a>
            </li>
            <li>Angulo, L. (2016). Proyectos: Formulación y evaluación. Alfaomega. ISBN 9786076226834</li>
            <li>Baca, G. (2016). Evaluación de proyectos. McGraw Hill Educación. ISBN 9781456258306</li>
            <li>Baca, G. (2005). Formulación y evaluación de proyectos informáticos. McGraw Hill Interamericana. ISBN
              9781456258306</li>
            <li>GPM. (2019). El estándar P5 de GPM Global para la sostenibilidad en la dirección de proyectos
              (Versión2.0). GPM Global.</li>
            <li>Pressman, R. S. (2010). Ingeniería de software: Un enfoque práctico. McGraw Hill Educación. ISBN
              9786071503145</li>
            <li>Project Management Institute. (2017). Guía de los fundamentos para la dirección de proyectos (Guía del
              PMBOK). Project Management Institute, Inc. ISBN 9781628251944</li>
            <li>Rodríguez, J., García, J., & Lemarca, I. (2017). Guía de gestión de proyectos informáticos: Métodos,
              herramientas y casos. UOC.</li>
            <li>Serrano, M., & Blázquez, P. (2016). Design Thinking: Lidera el presente, crea el futuro. Alfaomega. ISBN
              9786076225929</li>
            <li>Sommerville, I. (2011). Ingeniería de software. Pearson.</li>
            <li>Téllez, G. (2013). Diseño y generación de un modelo de negocio mediante la herramienta Lean Canvas.
              Universidad Politécnica de Valencia.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="modal fade" id="usermanual">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title w-100" translate>app.userManual</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class='embed-responsive' style="min-height: 70vh; max-height: 80vh;">
            <iframe title="Manual de usuario" class="embed-responsive-item" loading='lazy'
              src='assets/data/RDD_GE_usr_man.pdf'></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<main role="main">
  <router-outlet></router-outlet>
</main>
<app-glosario></app-glosario>
